# Import Libraries and Data

In [235]:
import numpy as np

In [236]:
import pandas as pd

In [237]:
import matplotlib.pyplot as plt

In [259]:
import re

In [238]:
from pandas import Series, DataFrame

In [239]:
df = pd.read_csv('BPD_Call_Log.csv')

In [240]:
dictionary = pd.read_csv('bpd_call_log_data_dictionary.csv')

# Clean up data

### Fill in missing ResponseDates from Incident_IDs

In [241]:
df.loc[df['ResponseDate'].str.len() == 1, 'ResponseDate'] = df['Incident_ID'] #replace single digits

In [242]:
df['ResponseDate'].apply(pd.to_datetime, errors='coerce'); #change column to datetime

### Replace missing Problems

In [244]:
df['Problem'].fillna(df['CaseNumber'], inplace=True) #fill nans

In [245]:
df.loc[df['Problem'].str[:2] == '20', 'Problem'] = df['CaseNumber'] #replace problems that start with a date string

# Add features

### Add crime class

In [272]:
df['Class'] = df.Problem.apply(lambda x: re.split('[^a-zA-Z]', x)[0]) #split out 'class' of crime from the Problem field

In [274]:
df.groupby(['Class']).count()

        Incident_ID  ResponseDate  CaseNumber  HundredBlock  Problem
Class
ASSAU           130           130         113           129      130
ASSISB          289           289         289           287      289
BURGL           156           156          61           156      156
CIVILB          113           113         113           110      113
COENFB            9             9           9             9        9
CRMIS            77            77          77            77       77
CRTRE            93            93          93            93       93
Case              1             1           1             1        1
DISTU           400           400         400           400      400
DRUNKB          113           113         113           112      113
DTFB             15            15          15            15       15
FIREWB            5             5           5             5        5
FISTRB          121           121          14           121      121
FRAUD           173           173         173           173      173
HARAS           192           192         192           191      192
HAZARB           74            74          74            73       74
HOLDB             1             1           1             1        1
INEXP            19            19          19            18       19
KIDNA             1             1           1             1        1
LILAWB           27            27          27            27       27
LITTEB            4             4           4             4        4
MAACCB           26            26          24            26       26
MENAC            37            37          34            37       37
MUNIB             6             6           6             6        6
NARCOB           66            66          66            66       66
NOISEB          301           301         301           301      301
OAAB            172           172         172           172      172
ODORB            32            32          32            32       32
OPCONB            2             2           2             2        2
PARKIB          332           332         332           331      332
PDACCB          407           407         407           406      407
Period            1             1           1             1        1
ROBBE             4             4           4             4        4
SASL             35            35          32            35       35
SHOOTB            6             6           6             6        6
SHOTS            12            12          12            12       12
STABB             4             4           4             4        4
SUSPI           392           392         392           389      392
TRESP           410           410         410           409      410
WEAPO            86            86          53            86       86