# Import Libraries and Data

In [105]:
import numpy as np

In [106]:
import pandas as pd

In [107]:
import matplotlib.pyplot as plt

In [108]:
import re

In [109]:
from pandas import Series, DataFrame

In [110]:
df = pd.read_csv('BPD_Call_Log.csv')

In [111]:
dictionary = pd.read_csv('bpd_call_log_data_dictionary.csv')

# Clean up data

#### Fill in missing ResponseDates from Incident_IDs

In [112]:
df.loc[df['ResponseDate'].str.len() == 1, 'ResponseDate'] = df['Incident_ID'] #replace single digits

In [113]:
df['ResponseDate'].apply(pd.to_datetime, errors='coerce'); #change column to datetime

#### Replace missing Problems

In [114]:
df['Problem'].fillna(df['CaseNumber'], inplace=True) #fill nans

In [115]:
df.loc[df['Problem'].str[:2] == '20', 'Problem'] = df['CaseNumber'] #replace problems that start with a date string

#### Get rid of non-addresses

In [116]:
df.loc[df['HundredBlock'].str[:3] == 'BPD', 'HundredBlock'] = np.NaN

# Add features

#### Add crime class

In [117]:
df['Class'] = df.Problem.apply(lambda x: re.split('[^a-zA-Z]', x)[0]) #split out 'class' of crime from the Problem field

In [118]:
df['HundredBlock'].isna().sum() #note that most of the rows don't have addresses

3828

In [119]:
#other feature ideas: hour, time of day, day of week, injury or non

#### Describe crime type

In [130]:
#Personal, Property, Inchoate, Statutory, Assist (police assistance)

In [131]:
ct = pd.DataFrame({'Class': ['ASSAU', 'ASSISB', 'BURGL', 'CIVILB', 'CRMIS', 'CRTRE'],
                  'Type': ['PERSONAL', 'ASSIST', 'PROPERTY', 'ASSIST', 'PROPERTY', 'STATUTORY']})

In [129]:
df.loc[df['Class'] == 'CRTRE'].head()

,Incident_ID,ResponseDate,CaseNumber,HundredBlock,Problem,Class
27,01/02/2019 04:45:56,01/02/2019 04:45:56,CRTRE1B - Criminal Tresp I/P,NaN,CRTRE1B - Criminal Tresp I/P,CRTRE
30,01/02/2019 09:47:01,01/02/2019 09:47:01,CRTRE1B - Criminal Tresp I/P,NaN,CRTRE1B - Criminal Tresp I/P,CRTRE
227,11/15/2018 18:06:42,11/15/2018 18:06:42,CRTRE1B - Criminal Tresp I/P,NaN,CRTRE1B - Criminal Tresp I/P,CRTRE
431,12/05/2018 09:05:48,12/05/2018 09:05:48,CRTRE1B - Criminal Tresp I/P,NaN,CRTRE1B - Criminal Tresp I/P,CRTRE
433,12/05/2018 12:29:55,12/05/2018 12:29:55,CRTRE1B - Criminal Tresp I/P,NaN,CRTRE1B - Criminal Tresp I/P,CRTRE

In [122]:
df.groupby(['Class']).count().reset_index()

     Class  Incident_ID  ResponseDate  CaseNumber  HundredBlock  Problem
0    ASSAU          130           130         113            66      130
1   ASSISB          289           289         289             0      289
2    BURGL          156           156          61           156      156
3   CIVILB          113           113         113             0      113
4   COENFB            9             9           9             0        9
5    CRMIS           77            77          77             1       77
6    CRTRE           93            93          93             0       93
7     Case            1             1           1             1        1
8    DISTU          400           400         400             0      400
9   DRUNKB          113           113         113             0      113
10    DTFB           15            15          15             0       15
11  FIREWB            5             5           5             0        5
12  FISTRB          121           121          14           121      121
13   FRAUD          173           173         173             1      173
14   HARAS          192           192         192             1      192
15  HAZARB           74            74          74             1       74
16   HOLDB            1             1           1             0        1
17   INEXP           19            19          19             0       19
18   KIDNA            1             1           1             1        1
19  LILAWB           27            27          27             0       27
20  LITTEB            4             4           4             1        4
21  MAACCB           26            26          24            26       26
22   MENAC           37            37          34            27       37
23   MUNIB            6             6           6             0        6
24  NARCOB           66            66          66             0       66
25  NOISEB          301           301         301             0      301
26    OAAB          172           172         172            17      172
27   ODORB           32            32          32             1       32
28  OPCONB            2             2           2             0        2
29  PARKIB          332           332         332             2      332
30  PDACCB          407           407         407             0      407
31  Period            1             1           1             1        1
32   ROBBE            4             4           4             4        4
33    SASL           35            35          32             7       35
34  SHOOTB            6             6           6             5        6
35   SHOTS           12            12          12             0       12
36   STABB            4             4           4             3        4
37   SUSPI          392           392         392             1      392
38   TRESP          410           410         410             0      410
39   WEAPO           86            86          53            72       86